.nav-link:hover {
    color: orange !important;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
  }
  